@model  ExpenseTracker.PasswordChange
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutHDesignNew.cshtml";
    ViewBag.Menu = "CommonUser";
}
<script>
    function PreviousPage() {
        window.location = "/Home/Index";
    }
</script>
@using (Html.BeginForm("PasswordChange", "CommonUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="container-fluid">
        <div class="pageheader col-lg-12">
            <h3 class="page-title text-primary">User Password Updation</h3>
            <hr>
        </div>
    </div>
    <div class="container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12">
            @if (ViewBag.messagealert != string.Empty)
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @ViewBag.messagealert
                </div>
            }
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">User Password Details</h3>
                </div>
                <div class="panel-body">
                    @*<div class="row bottom-space">
                        <label class="col-lg-4 col-md-4 col-xs-4"><b>First Name</b></label>
                        <div class="pull-left col-lg-5 col-md-5 col-xs-5">
                            <p>@Html.DisplayFor(m => m.FirstName)</p>
                        </div>
                    </div>
                    <div class="row bottom-space">
                        <label class="col-lg-4 col-md-4 col-xs-4"><b>Last Name</b></label>
                        <div class="pull-left col-lg-5 col-md-5 col-xs-5">
                            <p>@Html.DisplayFor(m => m.LastName)</p>
                        </div>
                    </div>
                    <div class="row bottom-space">
                        <label class="col-lg-4 col-md-4 col-xs-4"><b>Email</b></label>
                        <div class="pull-left col-lg-5 col-md-5 col-xs-5">
                            <p>@Html.DisplayFor(m => m.Email)</p>
                        </div>
                    </div>
                    <div class="row bottom-space">
                        <label class="col-lg-4 col-md-4 col-xs-4"><b>LogIn Name</b></label>
                        <div class="pull-left col-lg-5 col-md-5 col-xs-5">
                            <p>@Html.DisplayFor(m => m.LoginName)</p>
                        </div>
                    </div>*@

                    <div class="row" style="margin-bottom:10px;">
                        <label class="col-lg-4 col-md-4 col-xs-4"><b>Old Password</b></label>
                        <div class="pull-left col-lg-5 col-md-5 col-xs-5">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control UPassword", @placeholder = "Old Password" })
                            @*@Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", autocomplete = "off", InputType.Password })*@
                            <span class="error-text">
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <label class="col-lg-4 col-md-4 col-xs-4"><b>New Password</b></label>
                        <div class="pull-left col-lg-5 col-md-5 col-xs-5">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control UPassword", @placeholder = "New Password" })
                            @*@Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", autocomplete = "off", InputType.Password })*@
                            <span class="error-text">
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        <label class="col-lg-4 col-md-4 col-xs-4"><b>Confirm Password</b></label>
                        <div class="pull-left col-lg-5 col-md-5 col-xs-5">
                            @*@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off", InputType.Password })*@
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control UPassword", @placeholder = "Confirm Password" })
                            <span class="error-text">
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </span>
                        </div>
                    </div>
                    <div class="row save-button-section">
                        <div class="form-group col-md-6 col-sm-6 pull-left text-left">
                            <input type="submit" class="btn btn-primary" title="Save" value="Save">
                            <input type="button" class="btn btn-secondary close-space" title="Back" value="Back" onclick="PreviousPage();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}