@model IEnumerable<ExpenseTracker.ETSource>
@{
    ViewBag.Title = "Source List";
    Layout = "~/Views/Shared/_LayoutHDesignNew.cshtml";
    ViewBag.Menu = "Sources";
}
<script>

    function DeleteSource(Sourceid) {
        if (Sourceid != "") {
            if (confirm("Are You Sure To Delete?") == true) {
                var url = "/Sources/SourceDelete";
                $.get(url, { id: Sourceid }, function (data) {
                    if (data == "True") {
                        window.location.href = "/Sources/Index";
                    }
                    else {
                        alert("Delete the user which refers to this Source.");
                        event.preventDefault();
                    }
                });
            }
        }
    }

    function updateStatus(anchor, cimageid) {
        var url = "/Sources/SourceUpdateStatus";
        var img = $(anchor).find("img")[0];
        $.get(url, { status: img.alt, Sourceid: cimageid }, function (data) {

            if (data == "True") {
                if (img.alt == "true") {
                    img.src = "../../Content/Admin/icon/x_icon.gif";
                    img.alt = "false";
                    img.title = "Disable";
                }
                else {
                    img.src = "../../Content/Admin/icon/tick_icon.gif";
                    img.alt = "true";
                    img.title = "Active";
                }
                document.getElementById('msShowstatus').style.display = 'block';
                document.getElementById('msShow1').style.display = 'none';
            }
        });
    }

</script>
<div class="main-container">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="pageheader col-lg-12">
                <h3 class="page-title text-primary">Source List</h3>
                <hr>
                <div class="form-group text-right">
                    <a href="/Sources/Source_add" class="btn btn-primary add-emp" data-toggle="modal" title="Create">Create</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                @if (ViewBag.messagealert != string.Empty)
                {
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @ViewBag.messagealert
                    </div>
                }
                @{ var display = "displaynone"; }
                @if (@ViewBag.UserPermission == "OWNER")
                { display = "displayblock"; }
                <div class="table-responsive">
                    <table class="table table-bordered table-hover text-center" id="client-datatable">
                        <thead>
                            <tr class="success">
                                <th class="text-center no-sort">SNo</th>
                                <th style="display:none;"></th>
                                <th class="text-center">Source Name</th>
                                <th class="text-center">Source Type</th>
                                <th class="@display text-center">Created User</th>
                                <th class="text-center no-sort">Status</th>
                                <th class="text-center no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var rowColor = "table-active"; }
                            @{ int i = 0; }
                            @foreach (var item in Model)
                            {
                                if (i == 10)
                                { i = 0; }

                                if (i == 0)
                                { rowColor = "table-active"; }
                                else if (i == 2)
                                { rowColor = "table-success"; }
                                else if (i == 4)
                                { rowColor = "table-warning"; }
                                else if (i == 6)
                                { rowColor = "table-danger"; }
                                else if (i == 8)
                                { rowColor = "table-info"; }
                                else
                                { rowColor = ""; }

                                <tr class="@rowColor">
                                    <td></td>
                                    <td style="display:none;"><input type="hidden" value="@item.SourceID" /></td>
                                    <td>@item.SourceName</td>
                                    <td>@item.SourceType</td>
                                    <td class="@display text-center">@item.UserID</td>
                                    <td>
                                        <a href="javascript:void(0)" id="lnkstatus" onclick="updateStatus(this,'@item.SourceID')">
                                            @if (item.IsActive)
                                            {
                                                <img src="../../Content/Admin/icon/tick_icon.gif" title="Enable" alt="true" border="0" />
                                            }
                                            else
                                            {
                                                <img src="../../Content/Admin/icon/x_icon.gif" title="Disable" alt="false" border="0" />
                                            }
                                        </a>
                                    </td>
                                    <td class="nowrap">
                                        <a href="/Sources/Source_edit/@item.SourceID" class="report-edit" title="Edit"><i class="fa fa-pencil"></i> Edit</a>
                                        <a href="/Sources/Source_view/@item.SourceID" class="report-edit report-cancel" title="View"><i class="fa fa-eye"></i> View</a>
                                        <a href="javascript:;" onclick="DeleteSource(@item.SourceID)" class="report-cancel" title="Delete"><i class="fa fa-trash"></i> Delete</a>
                                    </td>
                                </tr>
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h2>Index</h2>
    <div class="card">
        <div class="card-header">
            <h5>Contextual classes</h5>
            <span>For Make row Contextual add Contextual class like <code>.table-success</code> in <code> tr tag</code> and For cell add Contextual class in <code> td or th tag</code> . </span>
            <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
                <i class="icofont icofont-close-circled"></i>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>User Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>aa</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>bb</td>
                        </tr>
                        <tr class="table-success">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>cc</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>dd</td>
                        </tr>
                        <tr class="table-warning">
                            <th scope="row">5</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>ee</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>ff</td>
                        </tr>
                        <tr class="table-danger">
                            <th scope="row">7</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>gg</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>hh</td>
                        </tr>
                        <tr class="table-info">
                            <th scope="row">9</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>ii</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5>Basic table</h5>
            <span>use class <code>table</code> inside table element</span>
            <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
                <i class="icofont icofont-close-circled"></i>
            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>User Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>aaa</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>bbb</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>ccc</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@
